*{
    margin: 0;
    padding: 0;

}
/* Navbar */
.navbar {
    background-color: #1E71FF;
    color: white;
}
.container{
    max-width: 1160px;
    width: auto;
    height: auto;
   margin-left: auto;
   margin-right: auto;
}
.nav-flexbox{
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    margin-top: 60px;
    margin-left: 50px;
    
}

.navbar-links {
    height: 100%;
   
}

.navbar-links ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navbar-links li {
    list-style: none;
    padding: 42px 15px 20px 30px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    border-bottom: 2px rgb(255, 255, 255) solid;
    transition: ease;
}

.toggle-button {
    position: absolute;
    min-width: 30px;
   max-width: 35px;
   min-height: 21px;
  margin-right: 70px;
  margin-top: 50px;
   height: auto;
   width: auto;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* The width to come the Toggle button */

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0rem 0rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Hero section */
.Hero-section{
    background-color: #1E71FF;
    padding: 8vh 60px;
    width: auto;
    height: auto;
    max-height: 100vh;
}
.Hero-right{
    max-width: 600px;
    margin-top: 10vh;
}
.Hero-heading{
   font-size: 75px; 
   letter-spacing: -2%;
   font-family: 'Poppins', sans-serif;
   color: white;
}
.Hero-para{
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400px;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
}
.Hero-btn{
    border: none;
    border-radius: 50px;
    padding: 16px 48px;
    background-color: white;
    color: #1E71FF;
}
.Hero-btn:hover{
   background-color: #f3e8e8; 
   transition: ease-in;
}
.Hero-btn.Ghost-btn:hover{
    background-color: #e6e3e39c;
    transition: ease-in;
}
.Hero-btn.Ghost-btn{
    background-color: transparent;
    color: white;
    border: solid 1px white;
    margin-left: 10px;
}
.Hero-flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Hero-left{
    max-width: 500px;
    min-width: 400px;
   margin-bottom: 10px;
   margin-right: 60px;
}

.Hero-image{
   max-width:  100%;
    height: auto;
    
}
.Hero.container{
   
    max-width: 1160px;
    width: auto;
    height: auto;
   margin-left: auto;
   margin-right: auto;
}
