*{
    margin: 0;
    padding: 0;

}
/* Navbar */
.navbar {
    background-color: #1E71FF;
    color: white;
}
.container{
    max-width: 1160px;
    width: auto;
    height: auto;
   margin-left: auto;
   margin-right: auto;
}
.nav-flexbox{
    display: flex;
    position: static;
    justify-content: space-between;
    align-items: center;
}

.brand-title {
    margin-top: 60px;
    margin-left: 50px;
    
}

.navbar-links {
    height: 100%;
   
}

.navbar-links ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navbar-links li {
    list-style: none;
    padding: 42px 15px 20px 30px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    border-bottom: 2px rgb(255, 255, 255) solid;
    transition: ease;
}

.toggle-button {
    position: absolute;
    min-width: 30px;
   max-width: 35px;
   min-height: 21px;
  margin-right: 70px;
  margin-top: 50px;
   height: auto;
   width: auto;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
   
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* The width to come the Toggle button */

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0rem 0rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* Hero section */
.Hero-section{
    background-color: #1E71FF;
    padding: 8vh 60px;
    width: auto;
    height: auto;
    max-height: 100vh;
}
.Hero-right{
    max-width: 600px;
    margin-top: 10vh;
}
.Hero-heading{
   font-size: 75px; 
   letter-spacing: -2%;
   font-family: 'Poppins', sans-serif;
   color: white;
}
.Hero-para{
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 400px;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
}
.Hero-btn{
    border: none;
    border-radius: 50px;
    padding: 16px 48px;
    background-color: white;
    color: #1E71FF;
}
.Hero-btn:hover{
   background-color: #f3e8e8; 
   transition: ease-in;
}
.Hero-btn.Ghost-btn:hover{
    background-color: #e6e3e39c;
    transition: ease-in;
}
.Hero-btn.Ghost-btn{
    background-color: transparent;
    color: white;
    border: solid 1px white;
    margin-left: 10px;
}
.Hero-flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Hero-left{
    max-width: 500px;
    min-width: 400px;
   margin-bottom: 10px;
   margin-right: 60px;
}

.Hero-image{
   max-width:  100%;
    height: auto;
    
}
.Hero.container{
   
    max-width: 1160px;
    width: auto;
    height: auto;
   margin-left: auto;
   margin-right: auto;
}
/*  */
/* Second section */

/* Second section starts here */
.second.section{
    
    background-color: white;
    padding:15px 60px;
    width: auto;
    height: auto;
  
}
.second-heading{
margin-top: 30px;
font-family: 'Poppins',sans-serif;
font-weight: 500;
font-size: 45px;
line-height: 57.6px;
color: #2B353E;
text-align: center;

}
.second-para{
font-family: 'Roboto' , sans-serif;
font-weight: 400;
line-height: 29.11px;
width: auto;
text-align: center;
max-width: 566px;
margin-top: 30px;
margin-bottom: 60px;
margin-left: auto;
margin-right: auto;
}
.second-image{
width: auto;
max-width: 100%;
}
/*  */
/* Third-section */

/* third section */
.third.section{
    background-color: rgba(30, 113, 255, 0.1);
    width: auto;
   padding: 90px 60px;
}
.third-flex-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.third-left{
 margin-left: -36vh;
 max-width: 700px;

}
.third-right{
    margin-left: 60px;
    min-width: 400px;
    max-width: 467px;
}
.third-img{
    max-width: 100%;
}
.third-heading{
    font-family: 'Poppins',sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 57px;
    max-width: 467px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:  black;
}
.third-para{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 33.96px;
    color:black;
    margin-top: 30px;
    margin-bottom: 60px;
}
.third.Hero-btn{
    background-color: #1E71FF;
    color: white;
}
.third.Hero-btn:hover{
    background-color: #434141; 
    transition: ease-in;
}
.Hero-btn.Ghost-btn.third{
    color: black;
    background-color: transparent;
    border: solid 1px #1E71FF;
}
.Hero-btn.Ghost-btn:hover{
    background-color: #e6e3e39c;
    transition: ease-in;
}
.third-line{
    max-width: 167px;
    height: 1px;
    width: auto;
    margin-top: 60px;
    background-color: #838383;
}
.star-flex{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.star-para{
    margin-top: -2px;
    margin-left: 20px;
    max-width: 260px;
}
/*  */

/* Footer-section starts here */
.footer.section{
    padding: 90px 60px 30px;
   }
   .footer.container{
       max-width: 1160px;
       margin-left: auto;
       margin-right: auto;
   }
   .footer-flex{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
   }
   .footer-logo{
       max-width: 100%;
       padding-bottom: 22px;
   }
   .footer-column{
       margin-right: 15px;
       margin-left: 15px;
       width: 16.666666666666668%;
       height: 200px;
   }
   .footer-column.logo{
       margin-left: 0%;
      
   }
   .footer-heading{
       margin-bottom: 20px;
       font-family: 'Poppins', sans-serif;
       font-weight: 400;
       font-size: 24px;
       color: #333;
   }
   .footer-anger{
       display: block;
       font-family: 'Roboto',sans-serif;
       font-weight: 400;
       font-size: 13px;
       height: 16px;
       color: #817979;
       margin-top: 20px;
       max-width: 100px;
       text-decoration: none;
   }
   .footer-anger:hover{
       color: #1E71FF;
   }
   .footer-logo{
       width: 100%;
   }
   .footer-column.contact{
       margin-left: 0%;
   }
   .footer-copyright{
       margin-top: 60px;
       font-family: 'Roboto',sans-serif;
       font-weight: 400;
       font-size: 10px;
       height: 161%;
       color: rgba(51, 51, 51, 0.6);
       padding-left: 50px;
   }
   /*  */
   /* Adding responsiveness to the website */
   
/* Tablets */
@media (max-width:724px){
    /* small laptops */
    .Hero-section{
        padding: 90px 60px;
        width: auto;
        max-width: auto;
        height: auto;
        min-height: auto;
    }
    .Hero-container{
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
    }
      .Hero-left{
        min-width: 322px;
         margin-right: 30px;
         margin-bottom: 30px;
      } 
      .Hero-heading{
        font-size: 60px;
        line-height: 75px;
      } 
      .Hero-para{
        font-size:  18px;
      }
      .Hero-btn{
        padding: 13px 30px;
      }
     
     .Hero-flex-box{
        align-items: center;
        justify-content: space-between;
     }
      .Hero-image{
        width: 200%;
      }
      .footer-flex{
        flex-wrap: wrap;

      }
      .footer-column.logo{
        width: auto;
        margin-left: 20px;
        margin-top: 10px;
        max-width: 130px;
        height: 200px;
      }
      .footer-column.avoid{
        display: none;
      }
      .footer-column{
        width: auto;
        height: 200px;
        max-width: none;
      }
      .footer-column.contact{
        width: auto;
        height: 200px;
        max-width: none;
        margin-right: 15px;
      }
   
}
/*  */
/* Next is for tablets size */

@media (max-width:630px){
    /* small tablets */
   
 .Hero-flex-box{
    flex-direction: column;
 }
 .Hero-right{
    max-width: 380px;
 }

 .third-flex-box{
    flex-direction: column;
 }
 .third-line{
    background-color: #2b353e;
 }
 .third-right{
    max-width: 400px;
 }
 .third.section{
    padding: 60px 30px;
 }
.star-flex{
    margin-top: 30px;
    max-width: 330px;
}
.third-left{
    max-width: 500px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.third-right{
    padding-bottom: 30px;
}


.third-heading{
    max-width: 459px;
    font-size: 5vh;
}
.third-section{
    padding: 30px ;
}
 .third-right{
    margin-left: 20px;
    min-width: 340px;
    max-width: 382px;
    width: auto;
    height: auto;
}
}
/*  */
/* Next is mobile responsiveness */

@media (max-width:440px){
    /* Phone Responsiveness */
      
    /* Hero-section for the mobile responsiveness */
    .Hero-left{
        max-width: none;
        width: auto;
        margin-bottom:  02x;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .Hero-heading{
        margin-left: 7vh;
        line-height: 60px;
        font-size: 50px;
        size: 12px;
        font-weight: 500;
        max-width: 500px;
        }
    .Hero-right{
       margin-top: 20px;
        padding-bottom: 20px;
       }
    .Hero-btn{
        display: block;
        max-width: 350px;
        padding: 12px 53px;
        margin-left: 10vh;
        margin-bottom: 7px;
        }
     .Hero-btn.Ghost-btn{
        padding: 12px 53px;
        display: block;
        max-width: 250px;
        margin-left: 10vh;
           
        }
        .Hero-section{
            padding-top: 0px;
            padding-bottom: 20px;
        }
    .Hero-para{
        margin-left: 7vh;
        font-size: 15px;
        }
    /* second section for the mobile responsive  */
    .second-heading{
        font-size: 30px ;
        }
    .second-para{
            max-width: 700px;
    
        }
    .second-image{
            max-width: 170%;
        }
    .second.section{
            overflow: hidden;
        }
    /* This is the third section styles we used in the mobile view */
    .third-heading{
            font-size: 30px;
            line-height: 40px;
            max-width: 300px;
        }
    .third.section{
           padding: 30px;
        }
    .third-right{
            margin-left: 20px;
            max-width: 382px;
            min-width: auto;
            width: auto;
            height: auto;
        }
    .third.Hero-btn{
            padding: 12px 53px;
            margin-left: 5vh;
            max-width: 250px;
            width: auto;
            max-height: 60px;
            height: auto;
        }
    .third.Hero-btn.Ghost-btn{
            padding: 12px 53px;
            max-width: 250px;
            max-height: 60px;
            height: auto;
    
        }
        .third-para{
            font-size: 17px;
        }
    .third-line{
            margin-left: 5.5vh;
        }
    }
    /*  */
    /* The End */
    
    